<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Aguarde...</title>
        <link rel="shortcut icon" href="./assets/img/favicon.png">
        <link rel="stylesheet" href="../../Static/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" type="text/css" />
        <link rel="stylesheet" href="../../Static/node_modules/material-design-icons/iconfont/material-icons.css" />
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="../../Static/Beagle/assets/css/style.css" type="text/css" />
        <link rel="stylesheet" href="../../Static/Beagle/assets/css/apps.css" type="text/css" />
    </head>
    <body class="be-splash-screen">

    <div class="be-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top be-top-header app-bar">
            <div class="container-fluid">
                <div class="navbar-header app-bar">
                    <a href="#" class="navbar-brand logo"></a>
                </div>
                <div class="page-title app-bar">&nbsp;&nbsp;<span>Dashboard</span></div>
                <div class="be-right-navbar">
                    <ul class="nav navbar-nav navbar-right be-user-nav">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                                <img class="user-photo" src="../../Static/Beagle/assets/img/avatar.png" alt="Avatar">
                                    <span class="user-name"></span>
                            </a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                <div class="user-info">
                                  <div class="user-name"></div>
                                </div>
                                </li>
                                <li>
                                    <a href="../../BRA/Login/#/logout">
                                        <i class="material-icons md-18 middle">power_settings_new</i>&nbsp;&nbsp;
                                            <span class="middle">Desconectar</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right be-icons-nav">
                        <li class="dropdown">
                          <a
                              href="//grupobra.zendesk.com/hc/pt-br/requests/new"
                              target="_blank"
                              role="button"
                              aria-expanded="false"
                              data-original-title="Suporte técnico"
                              data-toggle="tooltip"
                              data-placement="bottom"
                              class="be-toggle-right-sidebar">
                              <i class="material-icons middle">live_help</i>
                          </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="be-content">
            <div class="page-head">
              <h2 class="page-head-title">&nbsp;</h2>
              <ol class="breadcrumb page-head-nav">
                <li></li>
              </ol>
            </div>
            <div class="main-content container-fluid">

                <div class="">
                    <div class="panel-heading"></div>
                    <div class="panel-body text-center">
                        <div class="xs-mt-10 xs-mb-12">
                            <a href="../../Social/"><img src="../../Static/Beagle/assets/img/apps-icons/social-icon.png" class="icon-dashboard icon-rounded" /></a>
                            <a href="../../Governanca/"><img src="../../Static/Beagle/assets/img/apps-icons/governanca-icon.png" class="icon-dashboard icon-rounded" /></a>
                            <a href="../../Rh/"><img src="../../Static/Beagle/assets/img/apps-icons/rh-icon.png" class="icon-dashboard icon-rounded" /></a>
                            <a href="../../Fopag/"><img src="../../Static/Beagle/assets/img/apps-icons/fopag-icon.png" class="icon-dashboard icon-rounded" /></a>
                            <a href="../../OnyxPrev/"><img src="../../Static/Beagle/assets/img/apps-icons/onyxprev-icon.png" class="icon-dashboard icon-rounded" /></a>
                            <a href="../../Drive/"><img src="../../Static/Beagle/assets/img/apps-icons/drive-icon.png" class="icon-dashboard icon-rounded" /></a>
                            <a href="../../Protocolo/"><img src="../../Static/Beagle/assets/img/apps-icons/protocolo-icon.png" class="icon-dashboard icon-rounded" /></a>
                            <a href="../../Website/"><img src="../../Static/Beagle/assets/img/apps-icons/website-icon.png" class="icon-dashboard icon-rounded" /></a>
                        </div>
                        <div class="xs-mt-10 xs-mb-12">
                            <a href="../../Consig/"><img src="../../Static/Beagle/assets/img/apps-icons/consig-icon.png" class="icon-dashboard icon-rounded" /></a>
                            <a href="../../Pericia/"><img src="../../Static/Beagle/assets/img/apps-icons/pericia-icon.png" class="icon-dashboard icon-rounded" /></a>
                            <a href="../../Nfse/"><img src="../../Static/Beagle/assets/img/apps-icons/nfse-icon.png" class="icon-dashboard icon-rounded" /></a>
                            <a href="../../Invest/"><img src="../../Static/Beagle/assets/img/apps-icons/invest-icon.png" class="icon-dashboard icon-rounded" /></a>
                            <a href="../../Recad/"><img src="../../Static/Beagle/assets/img/apps-icons/recad-icon.png" class="icon-dashboard icon-rounded" /></a>
                            <a href="../../Atuarial/"><img src="../../Static/Beagle/assets/img/apps-icons/atuarial-icon.png" class="icon-dashboard icon-rounded" /></a>
                            <a href="../../Biometria/"><img src="../../Static/Beagle/assets/img/apps-icons/biometria-icon.png" class="icon-dashboard icon-rounded" /></a>
                            <a href="../../Licitacoes/"><img src="../../Static/Beagle/assets/img/apps-icons/licitacoes-icon.png" class="icon-dashboard icon-rounded" /></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

	<!-- LibraryJS-->
	<script src="../../LibraryJS/js/app.js" type="text/javascript"></script>

    <!-- Template -->
    <script src="../../Static/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="../../Static/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="../../Static/node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../Static/Beagle/assets/js/main.js" type="text/javascript"></script>
    <script src="js/config/config-app.js" type="text/javascript"></script>
    <script src="js/config/config-urls.js" type="text/javascript"></script>
    <script src="js/dashboard.js" type="text/javascript"></script>

    <script type="text/javascript">
    $(document).ready(function(){
        App.init();
		try {
			$('.apps-block').fadeIn();
		} catch (e) {

		}
		$globals = {};
		new Dashboard(new main(urls, appData));
    });
    </script>
    </body>
</html>
